<div class="offer_list">
  <div class="offer_list_header">
    <a href="<%="/#{@product.id}/detail/#{@product.slug}"%>"><img src="<%=@product.image_path%>" alt="screenshot 1"/></a>
    <h4 class="orange"><a href="<%="/#{@product.id}/detail/#{@product.slug}"%>"><%=@product.name%></a></h4>
    <span class="details">n_stars | n_reviews | <a href="<%="/#{@product.id}/detail/#{@product.slug}"%>">more...</a></span>
  </div>
  <br/>
  <div class="offer_list_content">
    <ul class="tblHeader">
      <li>Giá sản phẩm</li>
      <li>Phí vận chuyển</li>
      <li>Nơi giao hàng</li>
      <li>Ngườiß bán</li>
      <li>Mua sản phẩm</li>
    </ul>
    <% @offers.each do |offer| %>
    <ul class="tblRow">
      <li><%=offer.price%> vnđ</li>
      <li>Miễn phí</li>
      <li>Thành phố HCM</li>
      <li>Cty TNHH ABCD</li>
      <li><button id="btnAddToCart" onclick="addToCart()">Chọn mua</button></li>
    </ul>
    <% end %>
  </div>
</div>
