<br />
<div class="product_main_box">
  <br />
  <div class="product_images">
    <h3 style="font-size:24px; line-height:22px; color:orange;"><%=@product.name%></h3>
    <div class="btnAddToListCart">
      <button onclick="window.location.href='<%="/#{@product.id}/#{@product.slug}"%>'">Offer list</button><br/><br/>
      <button class="add_to_favorite" data-target="<%=@product.id%>">Lưu sản phẩm</button>
      <span id="save_confirm" style="display:none;"><img src="/assets/confirm_icon.jpg" alt="JP Shop" style="width:auto; height:12px;"/>Đã thêm vào list</span>
    </div>
    <br />
    <div>
      <div>
        <img id="displayed_image" src="<%=@product.image_path%>" style="float:center; display:block; margin-left:auto; margin-right:auto;"/>
      </div>
    </div>
    <ul>
      <%@product.images.each do |image|%>
        <li><a href='javascript:void(0)' onclick="displayImage('<%=image.path%>')"><img src="<%=image.path%>" alt="<%=@product.name%>" /></a></li>
      <%end%>
    </ul>
  </div>
  <div class="product_content">
    <button class="tablink" onclick="openTab('product_about', this, '#777')" id="defaultOpen">Giới thiệu</button>
    <button class="tablink" onclick="openTab('product_desc', this, '#777')">Mô tả</button>
    <button class="tablink" onclick="openTab('product_detail', this, '#777')">Chi tiết</button>
    <button class="tablink" onclick="openTab('product_notes', this, '#777')">Lưu ý</button>
    <div id="product_about" class="tabcontent">
      <h3>Giới thiệu</h3>
      <p><%=@product.about%></p>
    </div>
    <div id="product_desc" class="tabcontent">
      <h3>Mô tả</h3>
      <p><%=@product.description%></p>
    </div>
    <div id="product_detail" class="tabcontent">
      <h3>Chi tiết</h3>
      <p>Thông tin chi tiết về sản phẩm</p>
    </div>
    <div id="product_notes" class="tabcontent">
      <h3>Lưu ý</h3>
      <p>Legal Disclaimer</p>
      <p>Actual product packaging and materials may contain more and different information than what is shown on our website. We recommend that you do not rely solely on the information presented and that you always read labels, warnings, and directions before using or consuming a product. Please see our full disclaimer below. </p>
    </div>
  </div>
  <script>
    // display other tab
    function openTab(pageName, elmnt, color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;

    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

    // Diplay image
    function displayImage(imagePath) {
      $("#displayed_image").attr("src", imagePath)
    }
  </script>
</div>
