<!DOCTYPE html>
<html>
  <head>
    <title>Jp Shop</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style1' %>
    <!-- <#%= javascript_include_tag 'jquery-3.3.1.min' %> -->
    <%= javascript_include_tag 'jquery.cycle.lite' %>
  <body>
    <div id="top_background">
      <div class="main_container">
        <div class='header_bar'>
          <div class="logo">
            <a href="/"><img src="/assets/jp_shop_logo.png" alt="JP Shop"/></a>
          </div>
          <div class='search'>
            <form action="/search" method="get">
              <ul>
                <li><input class="" name="keyword" placeholder="Nhập tên sản phẩm" value="" type="text" style='width: 60%; margin-top: 20px;'></li>
                <li><button type="submit">Tìm kiếm</button></li>
              </ul>
            </form>
          </div>
        </div>

        <div class="navigation_bar">
          <%= select_categories(@categories) %>
          <div style="border-left: 2px solid black; height:30px; float:left; margin:10px 20px"></div>
          <ul class="navigation">
            <!-- <li><a href="#" class='btnLogin' style="background: url('/assets/login_icon.png') no-repeat left center;">Đăng nhập</a></li> -->
            <li><a href="list.html" class='btnList'>Sản phẩm đã lưu</a></li>
            <li><a href="orders.html" class='btnOrders'>Danh sách đơn hàng</a></li>
            <li><a href="cart.html" class='btnCart'>Giỏ hàng</a></li>
            <li><%=logged_in%></li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="foot_cont">
        <div class="foot_col">
          <h3>Về website</h3>
          <ul>
            <li><a href="#">Giới thiệu về website</a></li>
            <li><a href="#">Chính sách bảo hành</a></li>
            <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
            <li><a href="#">Thông tin liên hệ</a></li>
          </ul>
        </div>

        <div class="foot_col">
          <h3>Phương thức thanh toán</h3>
          <ul>
            <li><a href="#">Tiền mặt</a></li>
            <li><a href="#">Chuyển khoảng</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>

        <div class="foot_col">
          <h3>Hỗ trợ khách hàng</h3>
          <ul>
            <li><a href="#">Đặt câu hỏi</a></li>
            <li><a href="#">Hướng dẫn đặt hàng</a></li>
            <li><a href="#">Phương thức vận chuyển</a></li>
            <li><a href="#">Chính sách đổi trả</a></li>
          </ul>
        </div>

        <div class="foot_col last_col">
          <h3>Mục tiêu</h3>
          <p>We want to provide only hidh-quality DVD movies to our members. High-quality, easy-to-find: the best of the week.</p>
          <span class="about_but"><a href="#">Read more about us</a></span>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      (function($){
        $.fn.getFormData = function(){
          var data = {};
          var dataArray = $(this).serializeArray();
          for(var i = 0; i < dataArray.length; i++){
            data[dataArray[i].name] = dataArray[i].value;
          }
          return data;
        }
      })(jQuery);

      $(document).ready(function() {
        $('.slide').cycle({
          fx: 'fade',
          speed:  1500,
          timeout: 4500
        });

        $('#categories').on('change', function() {
          window.location.replace(this.value)
        })

        $.ajaxSetup({
          headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
        });

        $.JpShop = {
          init: function()
          {
             var jpshop = this
             var auth_token = $('meta[name=csrf-token]').attr('content');
             $("button.add_to_cart").click( function() {
               var product_id = $(this).attr("data-target");
               jpshop.addTocart(product_id)
             });
          },
          addTocart: function(product_id) {
            $.post("/product/" + product_id + "/add_to_cart").done(function(data) {
              alert( "Sản phẩm đã được thêm vào giỏ hàng");
            });
          },
          addToFavorite: function(product_id) {

          }
        }
        $.JpShop.init();
      });
    </script>
  </body>
</html>
